@page "/apod"
@inject HttpClient Http

<PageTitle>APOD</PageTitle>

<Header Text="APOD" />

<p> Astronomy Picture of the Day</p>


@if (data == null)
{
    <Loader />
}
else
{
    <div class="row justify-content-center">
        <h2>@data.title</h2>
        <p>@data.explanation</p>
        <p>@data.date</p>
        <p>@data.copyright</p>

        <a href=@data.hdurl target="_blank">
            <img class="card-img-top col-3" src=@data.hdurl alt="..." />
        </a>
    </div>
}

@code {
    private NasaData data;
    private string token = GlobalData.token;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<NasaData>($"https://api.nasa.gov/planetary/apod?api_key={token}");
    }

    public class NasaData
    {
        public string copyright { get; set; }
        public string date { get; set; }
        public string explanation { get; set; }
        public string hdurl { get; set; }
        public string title { get; set; }
    }
}
