@page "/nasa-image-and-video-library"
@inject HttpClient Http

<PageTitle>NASA Image and Video Library</PageTitle>

<Header Text="NASA Image and Video Library" />


@if (items == null)
{
    <Loader />
}
else
{
    <div class="card-deck row justify-content-center">
        @foreach (var element in items)
        {
            <div class="card col-3 m-3 p-0">
                <a href=@element.links[0].href target="_blank">
                    <img class="card-img-top col-3" src=@element.links[0].href alt="..." />
                </a>
                <div class="card-body">
                    <h5 class="card-title">@element.data[0].location</h5>
                    <p class="card-text">@element.data[0].description.Remove(200)...</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@element.data[0].date_created</small>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Item> items;
    private Root request;
    private string token = GlobalData.token;
    protected override async Task OnInitializedAsync()
    {
        request = await
        Http.GetFromJsonAsync<Root>("https://images-api.nasa.gov/search?media_type=image");
        items = (List<Item>)request.collection.items;
    }

    public class Datum
    {
        public string center { get; set; }
        public string title { get; set; }
        public string location { get; set; }
        public string nasa_id { get; set; }
        public string media_type { get; set; }
        public DateTime date_created { get; set; }
        public string description { get; set; }
    }

    public class Link
    {
        public string href { get; set; }
        public string rel { get; set; }
        public string render { get; set; }
    }

    public class Item
    {
        public List<Datum> data { get; set; }
        public List<Link> links { get; set; }
    }

    public class Collection
    {
        public List<Item> items { get; set; }
    }

    public class Root
    {
        public Collection collection { get; set; }
    }
}
